<h1>Cocktails#show</h1>

<h2><%= @cocktail.name %></h2>
<hr>

<% @cocktail.doses.each do |dose| %>
  <%= dose.description %>
<% end %>

<%= link_to "All cocktails", cocktails_path, {class: "btn btn-primary"} %>



